.todo-list-container {
    margin-top: 20px;
    max-height: 300px;
    height: 100%;
    overflow: auto;
}

.todo-list-container li {
    display: flex;
    position: relative;
    align-items: center;
    list-style: none;
    background: var(--s-blue);
    margin-bottom: 10px;
    padding: 15px 20px;
    color:var(--font-color);
    font-size: 18px;
    text-transform: capitalize;
    border-radius: 10px;
    overflow: hidden;
}
.todo-container li:hover{
    background: var(--d-blue);
}
.todo-list-container li span {
    margin: 0 30px 0 15px;
    text-transform: capitalize;
}

.todo-list-container li .fa-trash {
    position: absolute;
    background: var(--s-red);
    padding: 10px 15px;
    border-radius: 3px;
    color:var(--font-color);
    right: -48px;
    transition: all 0.3s ease;
}

.todo-list-container li .fa-edit {
    position: absolute;
    background: var(--s-green);
    padding: 10px 15px;
    border-radius: 3px;
    color:var(--font-color);
    right: -48px;
    transition: all 0.3s ease;
}

.todo-list-container li:hover .fa-trash {
    right: 1px;
}

.todo-list-container li:hover .fa-edit {
    right: 50px;
}
