

:root{
    --btn:#eee;
    --bg-color: #ccc;
    --font-color: #000;
    --s-red: #f11111;
    --s-green: #09ff00;
    --s-blue: #0c6af8;
    --d-blue: #0817e9;
}
.dark-theme{
    --bg-color:#555;
    --font-color:#fff;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}
body{
 background: var(--bg-color);
 color: var(--font-color) ;
 max-width: 100vw;
 min-height: 100vh;
}



.todo-container {
    position: relative;
    max-width: 470px;
    width: 100%;
    margin: 50px auto; 
    padding: 30px;
    border-radius: 4px;
    background: var(--bg-color);
    transition: background 0.5s;
}
.todo-container header{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px 20px;
}
.todo-container header .dark-btn{
    width: 45px;
    border-radius: 12px;
    background:var(--btn);
    padding: 2px 3px;
    display: flex;
    transition: padding-left 0.5s, background 0.5s;
}
.todo-container header .dark-btn::after{
    content: '';
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: var(--bg-color);
}
.todo-container header .dark-btn.on{
    padding-left: 22px;
}
.todo-container header h1 {
    color:var(--font-color);
}


